@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "ubuntu";
    color: #fff;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background: #25252b;
    padding-top: 150px;
    
}

.container {
    position: relative;
    width: 750px;
    height: 450px;
    border: 2px solid #ff2770;
    box-shadow: 0 0 25px #ff2770;
    overflow: hidden;
}

.container .form-box {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}

.form-box.Login {
    left: 0;
    padding: 0 40px;
}

.form-box.Register {
    right: 0;
    padding: 0 60px;
    display: none;
}

.form-box h2 {
    font-size: 32px;
    text-align: center;
}


.form-box .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 25px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    border-bottom: 2px solid #fff;
    padding-right: 23px;
}

.input-box input:focus,
.input-box input:valid {
    border-bottom: 2px solid #ff2770;
    transition: 1.5s ease;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
    transition: 1.5s ease;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -5px;
    color: #ff2770;
}

.input-box i {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 18px;
    transform: translateY(-50%);
    transition: 1.5s ease;
}

.input-box input:focus ~ i,
.input-box input:valid ~ i {
    color: #ff2770;
}

.btn {
    position: relative;
    width: 100%;
    height: 45px;
    background: transparent;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid #ff2770;
    overflow: hidden;
    z-index: 1;
}

.btn:before {
    content: "";
    position: absolute;
    height: 300%;
    width: 100%;
    background: linear-gradient(#25252b, #ff2770, #25252b, #ff2770);
    top: -100%;
    left: 0;
    z-index: -1;
    transition: 1.5s ease;

}

.btn:hover:before {
    top: 0;
}

.regi-link {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 10px;
}

.regi-link a {
    text-decoration: none;
    color: #ff2770;
    font-weight: 600;
}

.regi-link a:hover {
    text-decoration: underline;
}

.info-content {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}

.info-content.Login {
    right: 0;
    text-align: right;
    padding: 0 40px 60px 150px;
    transition: 1.5s ease;
}

.info-content.Register {
    left: 0;
    text-align: left;
    padding: 0 150px 60px 40px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.info-content h2 {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 1.3;
}

.info-content p {
    font-size: 16px;
}

.container.active .info-content.Login {
    opacity: 0;
    pointer-events: none;
}

.container.active .info-content.Register {
    display: flex;
    opacity: 1;
}


.container .curved-shape {
    position: absolute;
    right: 0;
    top: -5px;
    height: 600px;
    width: 850px;
    background: linear-gradient(45deg, #25252b, #ff2770);
    transform: rotate(10deg) skewY(40deg);
    transform-origin: bottom right;
    transition: 1.5s ease;
}

.container.active .curved-shape {
    transform: rotate(10deg) skewY(40deg) translateX(200%);
}

.container .curved-shape2 {
    position: absolute;
    left: -100%;
    top: -5px;
    height: 600px;
    width: 850px;
    background: linear-gradient(45deg, #ff2770, #25252b);
    transform: rotate(-10deg) skewY(-40deg);
    transform-origin: bottom left;
    transition: left 1.5s ease;
    z-index: 0;
}

.container.active .curved-shape2 {
    left: 0;
}

.container.active .form-box.Login,
.container.active .info-content.Login {
    display: none;
}

.container.active .form-box.Register,
.container.active .info-content.Register {
    display: flex;
}