<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>MSPC OFFICIAL</title>
</head>

<body>
    <!-- LOGIN FORM -->
    <div class="container">
        <div class="curved-shape"></div>
        <div class="curved-shape2"></div>
        <div class="form-box Login" {% if show_register %}style="display:none;"{% endif %}>
            <h2>Login</h2>

            {% if login_error %}
            <div class="error">{{ login_error }}</div>
            {% endif %}

            <form action="/login" method="POST">
                <div class="input-box">
                    <input type="text" name="username" required>
                    <label for="username">Username</label>
                    <i class='bx  bx-user'    ></i> 
                </div>

                <div class="input-box">
                    <input type="password" name="password" required>
                    <label for="password">Password</label>
                    <i class='bx  bx-lock'    ></i> 
                </div>

                <div class="input-box">
                    <button class="btn" type="submit">Login</button>
                </div>

                <div class="regi-link">
                    <p>Don't have an account? <a href="#" class="SignUpLink">Sign up</a></p>
                </div>
            </form>
        </div>

        <div class="info-content Login">
            <h2>WELCOME BACK!</h2>   
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem, asperiores!</p>
        </div>

        <div class="form-box Register" {% if not show_register %}style="display:none;"{% endif %}>
            <h2>Register</h2>

            {% if register_error %}
            <div class="error">{{ register_error }}</div>
            {% endif %}

            <form action="/register" method="POST">
                <div class="input-box">
                    <input type="text" name="username" required>
                    <label for="username">Username</label>
                    <i class='bx  bx-user'    ></i> 
                </div>

                <div class="input-box">
                    <input type="password" name="password" required>
                    <label for="password">Password</label>
                    <i class='bx  bx-lock'    ></i> 
                </div>

                <div class="input-box">
                    <button class="btn" type="submit">Register</button>
                </div>

                <div class="regi-link">
                    <p>Already have an account? <a href="#" class="SignInLink">Sign in</a></p>
                </div>
            </form>
        </div>
        <div class="info-content Register">
            <h2>WELCOME!</h2>   
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem, asperiores!</p>
        </div>
    </div>
<script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>
