<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>MSPC OFFICIAL</title>
</head>

<body>
    <!-- LOGIN FORM -->
    <div class="container">
        <div class="curved-shape"></div>
        <div class="form-box Login">
            <h2>Login</h2>
            <form action="#">
                <div class="input-box">
                    <input type="text" required>
                    <label for="username">Username</label>
                    <i class='bx  bx-user'    ></i> 
                </div>

                <div class="input-box">
                    <input type="text" required>
                    <label for="password">Password</label>
                    <i class='bx  bx-lock'    ></i> 
                </div>

                <div class="input-box">
                    <button class="btn" type="submit">Login</button>
                </div>

                <div class="regi-link">
                    <p>Don't have an account? <a href="#" class="SignUpLink">Sign up</a></p>
                </div>
            </form>
        </div>

        <div class="info-content Login">
            <h2>WELCOME BACK!</h2>   
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem, asperiores!</p>
        </div>
    </div>
</body>
</html>
